

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


footer {
  bottom: 0;
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
  position: absolute;
  /* height: 2rem; */
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 0;    /* Footer height */
}


.custom-navbar{
	padding: 1em;
	background-color: #a92f4e;
}

.custom-nav-item {
    padding: 1.3em 0.8em 1.3em 0.8em;
    margin: 0.001em;
    color: white;
    text-transform: uppercase;
    /* background-color: #fff; */
    text-decoration: none;
}
 .custom-nav-item:hover {
       background-color: #bf4564;
       color:  white;
    }



/*IMAGE SLIDESHOW*/


* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  /* background: #EEE; */
}

.gallery-cell {
  height: 75vh;
  /* max-height: 40em; */
  /* margin-right: 10vw; */
  /* background: #8C8; */
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.slider-img{
  
/* align-items: center; */
  
height: 70vh;
margin:auto; margin:auto;
/* align-items: center; */
}


/* Content*/


.content-page{
	height: -webkit-fill-available;
	width: 80vw;
	min-width: 19em;
	/* display: flex; */
	/* align-items: center; */
	padding:2em;
	box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
	/* flex-direction: row; */
	margin: auto;
}


.title{

border-bottom: 1px solid black;

padding-bottom: 0.2em;
}